# Unreal Engine generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/

# Visual Studio / Rider
*.VC.db
*.VC.opendb
*.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# Build artifacts
*.log
*.pdb
*.obj
*.exe
*.dll
*.lib
*.app

# OS files
Thumbs.db
Desktop.ini
