[submodule "donut"]
	path = External/donut
	url = https://github.com/NVIDIA-RTX/Donut.git
[submodule "NRD"]
	path = External/NRD
	url = https://github.com/NVIDIA-RTX/NRD.git
[submodule "rtxdi-runtime"]
	path = Libraries/Rtxdi
	url = https://github.com/NVIDIA-RTX/RTXDI-Library
[submodule "thirdparty/cxxopts"]
	path = External/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "Assets/Media"]
	path = Assets/Media
	url = https://github.com/NVIDIA-RTX/RTXDI-Assets
[submodule "External/NVAPI"]
	path = External/NVAPI
	url = https://github.com/NVIDIA/nvapi.git
